# Global
**/node_modules/
**/dist/
**/build/
**/.cache/
**/.tsbuildinfo
**/.DS_Store
**/coverage/
**/*.log

# Env and local data
**/.env
**/.env_*
server/stock.db*
./server/stock.db*
server/server.out.log
server/server.err.log
server/server/.rag/*
# Editor
.vscode/
.idea/
ml-svc/__pycache__/app.cpython-311.pyc
server/stock.db
server/stock.db-shm
server/stock.db-wal
.env
